/*!* Стили для родительского контейнера слайдера *!*/
.media-slider {
    position: relative;
}
.awssld__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: none;
}


/*.awssld--active{*/
/*    z-index: 3;*/
/*}*/

/*!* Стили для кнопок навигации *!*/
/*.media-slider .awssld__controls__arrow-left,*/
/*.media-slider .awssld__controls__arrow-right {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: #fff;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.media-slider .awssld__controls__arrow-left {*/
/*    left: 20px;*/
/*}*/

/*.media-slider .awssld__controls__arrow-right {*/
/*    right: 20px;*/
/*}*/

/*.media-slider .awssld__controls__arrow-left:before,*/
/*.media-slider .awssld__controls__arrow-right:before {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-style: solid;*/
/*    border-width: 10px 12px 10px 0;*/
/*    border-color: transparent #333 transparent transparent;*/
/*}*/

/*.media-slider .awssld__controls__arrow-right:before {*/
/*    transform: scaleX(-1);*/
/*}*/

/*.media-slider .awssld__controls__arrow-left:hover,*/
/*.media-slider .awssld__controls__arrow-right:hover {*/
/*    background-color: #333;*/
/*}*/

/*!* Стили для индикаторов текущего слайда *!*/
/*.media-slider .awssld__bullets {*/
/*    position: absolute;*/
/*    bottom: 20px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.media-slider .awssld__bullets li {*/
/*    margin: 0 5px;*/
/*    list-style: none;*/
/*}*/

/*.media-slider .awssld__bullets button {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background-color: #ccc;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.media-slider .awssld__bullets button.awssld__bullets--active {*/
/*    background-color: #333;*/
/*}*/
.media-slider .aws-btn {
    /*--slider-height-percentage: 60%;*/
    /*--slider-transition-duration: 700ms;*/
    /*--organic-arrow-thickness: 4px;*/
    /*--organic-arrow-border-radius: 0px;*/
    /*--organic-arrow-height: 40px;*/
    /*--organic-arrow-color: #26456f;*/
    /*--control-button-width: 10%;*/
    /*--control-button-height: 49%;*/
    /*--control-button-background: #973030;*/
    /*--control-bullet-color: #2d5182;*/
    /*--control-bullet-active-color: #bec1c6;*/
    /*--loader-bar-color: transparent;*/
    /*--loader-bar-height: 6px;*/
}

