body {
    padding: 0;
    margin: 0;
    border: 0;
    background: #222131;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: #86ADD4;
}

/*добавим рамку*/

 ::-webkit-scrollbar-track {
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  }

/*стиль самого язычка*/

 ::-webkit-scrollbar-thumb {
      background: linear-gradient(45deg, #3765E8, #00ffff);
      border-radius: 15px;

}

.aws-btn {

    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #26456f;
    --control-button-width: 10%;
    --control-button-height: 49%;
    --control-button-background: #973030;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #bec1c6;
    --loader-bar-color: transparent;
    --loader-bar-height: 6px;
}
